[submodule "aktos-dcs-design"]
	path = aktos-dcs
	url = https://github.com/aktos-io/aktos-dcs-design
[submodule "protocols/siemens/nodeS7"]
	path = services/siemens/nodeS7
	url = https://github.com/ceremcem/nodeS7
